
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding:0; 
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

.my-container{
    width: 1500px;
    margin: 0 auto;
    
    padding: 10px;
}

.disp-container{
   
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    padding: 10px;
}

.bg{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    
    
}
.title{
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.navbar-top{
    background-color: #563d7c;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}



.person-list{
    box-shadow: 2px 2px 27px -10px rgba(0,0,0,0.82);
    background-color: #ebebee;
    width: 60%;
    padding: 15px;
    height: 800px;
    margin-right: 45px;
    
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.box{
    position: relative;
    background-color: rgba(137, 43, 226, 0.301);
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 5px;
    border-radius: 5px;
}
.box button i{
    font-size: 18px;
}
.id-box{
    
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 110px;
    margin-left: 100px;
    font-size: 16px;
    font-weight: 600;
}
.list-content{
   
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.list-content h4{
    font-weight: 00;
}

.right-section{
    width: 35%;
    height: 800px;
    display: flex;
    flex-direction: column;
}
.filter-div{
    margin-top: 50px;
    box-shadow: 2px 2px 27px -10px rgba(0,0,0,0.82);
    padding: 15px;
    padding: 15px;
    height: 250px;
    background-color: #ebebee;
}
.add-person{
    box-shadow: 2px 2px 27px -10px rgba(0,0,0,0.82);
    background-color: #ebebee;
    padding: 15px;
    padding: 15px;
    height: 250px;
}
